USE [master]
GO
/****** Object:  Database [HomeLibraryDb]    Script Date: 19.08.2026 18:24:45 ******/
CREATE DATABASE [HomeLibraryDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeLibraryDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HomeLibraryDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomeLibraryDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HomeLibraryDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeLibraryDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeLibraryDb]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](200) NOT NULL,
	[PublicationYear] [int] NULL,
	[Publisher] [nvarchar](200) NULL,
	[Isbn] [nvarchar](30) NULL,
	[Description] [nvarchar](max) NULL,
	[Contents] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Book_Delete]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Books
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Book_GetById]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Author,
        PublicationYear,
        Publisher,
        Isbn,
        Description,
        Contents
    FROM Books
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Book_GetContents]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_GetContents]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        x.Item.value('(text())[1]', 'NVARCHAR(500)') AS ContentItem
    FROM Books AS b
    CROSS APPLY b.Contents.nodes('/contents//li') AS x(Item)
    WHERE b.Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Book_Insert]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_Insert]
    @Title NVARCHAR(200),
    @Author NVARCHAR(200),
    @PublicationYear INT = NULL,
    @Publisher NVARCHAR(200) = NULL,
    @Isbn NVARCHAR(30) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Contents XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Books
    (
        Title,
        Author,
        PublicationYear,
        Publisher,
        Isbn,
        Description,
        Contents
    )
    VALUES
    (
        @Title,
        @Author,
        @PublicationYear,
        @Publisher,
        @Isbn,
        @Description,
        @Contents
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Book_SearchByContents]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_SearchByContents]
    @SearchText NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Author,
        PublicationYear,
        Publisher,
        Isbn,
        Description,
        Contents,

        Contents.value(
            '(/contents/ul/li/text())[1]',
            'NVARCHAR(500)'
        ) AS FirstContentItem

    FROM Books
    WHERE Contents.exist(
        '/contents//li[contains(., sql:variable("@SearchText"))]'
    ) = 1
    ORDER BY Title;
END;
GO
/****** Object:  StoredProcedure [dbo].[Book_Select]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Select]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Author,
        PublicationYear,
        Publisher,
        Isbn,
        Description,
        Contents,
        Contents.value(
            '(/contents/ul/li/text())[1]',
            'NVARCHAR(500)'
        ) AS FirstContentItem
    FROM Books
    ORDER BY Title;
END;
GO
/****** Object:  StoredProcedure [dbo].[Book_Update]    Script Date: 19.08.2026 18:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Update]
    @Id INT,
    @Title NVARCHAR(200),
    @Author NVARCHAR(200),
    @PublicationYear INT = NULL,
    @Publisher NVARCHAR(200) = NULL,
    @Isbn NVARCHAR(30) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Contents XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Books
    SET
        Title = @Title,
        Author = @Author,
        PublicationYear = @PublicationYear,
        Publisher = @Publisher,
        Isbn = @Isbn,
        Description = @Description,
        Contents = @Contents
    WHERE Id = @Id;
END;
GO
USE [master]
GO
